<%= simple_form_for(@recipe) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :instructions%>
    <%= f.input :cooking_time%>
    <%= f.input :preparation_time %>
    <%= f.input :difficulty %>
    <%= f.association :recipe_types,
                  collection: Recipe::RECIPE_TYPES,
                  include_blank: true,
                  input_html: { class: 'chosen-select', multiple: true } %>
    <%= f.association :seasons,
              collection: Recipe::SEASONS,
              include_blank: true,
              input_html: { class: 'chosen-select', multiple: true } %>
    <%= f.association :diets,
                  collection: Recipe::DIETS,
                  include_blank: true,
                  input_html: { class: 'chosen-select', multiple: true } %>
    <%= f.input :photo %>
    <%= f.input :photo_cache, as: :hidden %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>


