<div class="container">
  <div class="recipe-wrapper">

    <div class="row">
      <div class="col-xs-12">
        <div class="recipe-title text-center">
          <h1><%= @recipe.name %></h1>
        </div>
      </div>
    </div>

    <div class="recipe-head">
      <div class="row">
        <div class="col-xs-12">
          <div class="recipe-photo" style="background-image:
           url('<%= cl_image_path @recipe.photo, crop: :fill %>')"></div>
        </div>
      </div>

      <div class="row">
        <% if current_user && current_user.admin %>
          <div class="col-xs-12">
            <div class="dose-form form-inline text-center" id="dose-form-container">
              <%= render 'dose_form', recipe: @recipe, dose: @dose %>
            </div>
          </div>
        <% end %>
      </div>

      <div class="row">
        <div class="col-xs-12 col-md-4">
          <div class="recipe-ingredients lis-unstyled">
            <h2><strong>Ingrédients</strong></h2>
            <h4>Pour: <%= @recipe.servings %> pers.</h4>
            <ul id="dose-list">
              <% @recipe.doses.each do |dose| %>
                <li class="recipe-ingredients__list__item">
                  <div class="ingredients-list__item__icon" style="background-image:url('<%= cl_image_path dose.ingredient.photo, width: 60, height: 60, crop: :fit %>')">
                  </div>
                  <div class="recipe-ingredient-text">
                    <%= dose.description %> <%= dose.ingredient.name %> <%= dose.complement%>
                  </div>
                </li>
              <% end %>
            </ul>
          </div>
        </div>

        <div class="col-xs-12 col-md-8">
          <div class="recipe-instructions">
            <h2><strong>Préparation</strong></h2>
             <%= instruction_lines(@recipe) %>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>





