<div class="container">
  <div class="profile-wrapper">

    <div class="row">
      <div class="col-xs-12 text-center">
        <div class="title">
          <h1>Mon Profil</h1>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 text-center">
        <div class="profile-box user-ingredient">
          <h1>Mes ingrédients à éviter</h1>
          <div class="row">
            <%= render 'ingredient_cards', ingredients: @banned_ingredients %>
          </div>

          <div class="searchbar form-inline ">
            <%= form_tag(user_path, :method => "get", id: "search-form") do %>
              <%= text_field_tag :search_ingredient, params[:search_ingredient], placeholder: "Chercher un ingrédient", class: 'form-control' %>
              <%= submit_tag "Rechercher", :name => nil, class: 'btn btn-primary' %>
            <% end %>
          </div>

          <div class="row">
            <%= render 'ingredient_cards', ingredients: @ingredients %>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 text-center">
        <div class="user-past-recipes">
          <h1>Mon historique</h1>
          <div class="row">
            <%= render 'recipe_cards', recipes: @history_recipes %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
