<h2><%= @ingredient.name %></h2>
<p>Seasons</p>
<ul>
  <li>January: <%= @ingredient.january %></li>
  <li>February: <%= @ingredient.february %></li>
  <li>March: <%= @ingredient.march %></li>
  <li>April: <%= @ingredient.april %></li>
  <li>May: <%= @ingredient.may %></li>
  <li>June: <%= @ingredient.june %></li>
  <li>July: <%= @ingredient.july %></li>
  <li>August: <%= @ingredient.august %></li>
  <li>September: <%= @ingredient.september %></li>
  <li>October: <%= @ingredient.october %></li>
  <li>November: <%= @ingredient.november %></li>
  <li>December: <%= @ingredient.december %></li>
</ul>
