<% content_for :navbar, "navbarhome" %>
<div class="wrapper">
  <!-- <div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://kitt.lewagon.com/placeholder/cities/berlin');">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-xs-12 col-sm-12">
        <h1>Mama</h1>
        <h2>Demande-moi ton futur repas</h2>
        <#% messenger_url = "https://m.me/foodmama.fr"  %>
        <#%= link_to "Essayer Mama sur Messenger", messenger_url, target:"_blank", class:"fb-msg-btn" %>
        <i class="fa fa-cutlery" aria-hidden="true"></i>
      </div>
      <div class="col-md-6 col-xs-12 col-sm-12">
        <img src="https://static.wixstatic.com/media/6783c8_14e828a410c94db5af730cc801fb92a2~mv2.png/v1/fill/w_358,h_607,al_c,usm_0.66_1.00_0.01/6783c8_14e828a410c94db5af730cc801fb92a2~mv2.png" alt="">
      </div>
      </div>
    </div>
</div> -->
<div class="banner" style="background-image:url('https://images.pexels.com/photos/8844/red-lunch-green-knolling.jpg?w=1260&h=750&auto=compress&cs=tinysrgb');">
  <div class="banner-content">
    <div class="text-container">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-xs-12">
            <h1>Mama</h1>
            <h2>Demande-moi ton futur repas</h2>
            <% messenger_url = "https://m.me/foodmama.fr"  %>
            <%= link_to "Essayer Mama sur Messenger", messenger_url, target:"_blank", class:"fb-msg-btn" %>
            <i class="fa fa-cutlery" aria-hidden="true"></i>
          </div>
          <div class="col-md-6 col-xs-12">
            <img class="mobiledemo" src="https://files.slack.com/files-tmb/T02NE0241-F6J9B7UD8-30a363f41b/mama_mockup_a8cd42e870e8_360.gif" alt="">
          </div>
          <a href="#" class="button--scroll animation"><svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="-275 398.7 44.2 44.2"><path fill="#fff" d="M-275 420.8c0-12.2 9.9-22.1 22.1-22.1s22.1 9.9 22.1 22.1c0 12.2-9.9 22.1-22.1 22.1s-22.1-9.9-22.1-22.1zm42.7 0c0-11.4-9.2-20.6-20.6-20.6-11.4 0-20.6 9.2-20.6 20.6 0 11.4 9.2 20.6 20.6 20.6 11.4 0 20.6-9.3 20.6-20.6zM-260.6 418c0-.2.1-.4.2-.5.3-.3.8-.3 1.1 0l6.8 6.8 6.8-6.8c.3-.3.8-.3 1.1 0 .3.3.3.8 0 1.1l-7.3 7.3c-.3.3-.8.3-1.1 0l-7.3-7.3c-.3-.2-.3-.4-.3-.6z"/></svg></a>
        </div>
        </div>
      </div>
    </div>
  </div>

<div class="banner-horizontal-arrow">
  <div class="banner-content">
    <div class="row">
      <div class="col-md-6 col-xs-12">
        <h1>Besoin d'une suggestion de repas ?</h1>
      </div>
      <div class="col-md-6 col-xs-12">
        <img class="imgstyle" src="https://files.slack.com/files-tmb/T02NE0241-F6HKGTM08-62275a832e/capture_d___e__cran_2017-08-04_a___16.41.03_480.png" alt="">
      </div>
    </div>
 </div>
</div>

<div class="overide-container">
  <div class="row"></div>
</div>

<div class="banner-horizontal-arrow">
  <div class="banner-content">
    <div class="row">
      <div class="col-md-6 col-xs-12"">
        <img class="imgstyle" src="https://files.slack.com/files-tmb/T02NE0241-F6HKGTM08-62275a832e/capture_d___e__cran_2017-08-04_a___16.41.03_480.png" alt="">
      </div>
      <div class="col-md-6 col-xs-12">
        <h1>Mama s'occupe de tout, de la suggestion jusqu'à la recette</h1>
      </div>
    </div>
 </div>
</div>







<div class="overide-container">
  <div class="row">
      <div class="blueban">
      </div>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="socialnetwork">
        <h2>Suis Mama</h2>
          <div class="size-fa">
          <a href="#"><i class="fa fa-github"></i></a>
          <a href="#"><i class="fa fa-instagram"></i></a>
          <a href="#"><i class="fa fa-facebook"></i></a>
      </div>
    </div>
  </div>
</div>

<footer>
  <div class="container footer">
    <ul>
      <li><a href="#">Mama</a></li>
      <li><a href="#">Contact</a></li>
      <li><a href="#">Mainpage</a></li>
    </ul>
    <p>&copy; 2017 FoodMama Corporation. All rights reserved.</p>
    <div class="navbar-wagon-right hidden-xs hidden-sm">

    <% if user_signed_in? %>

      <!-- Links when logged in && admin -->
      <% if current_user.admin? %>
        <%= link_to "Admin Dashboard", rails_admin_path, class: "navbar-wagon-item navbar-wagon-link" %>
      <% end %>

      <!-- Avatar with dropdown menu -->
      <div class="navbar-wagon-item">
        <div class="dropdown">
          <% avatar_url = current_user.facebook_picture_url || "http://placehold.it/30x30" %>
          <%= image_tag avatar_url, class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
            <li>
              <%= link_to user_path(current_user) do %>
                <i class="fa fa-user"></i> <%= t(".profile", default: "Profile") %>
              <% end %>
            </li>
            <li>
              <%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    <% else %>
      <!-- Login link (when logged out) -->
      <%= link_to t(".sign_in", default: "Admin login"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %>
    <% end %>
  </div>

  </div>
</footer>
