<div class="banner-wrapper">
  <div class="banner" style="background-image:url('<%= image_path 'veggie.jpg' %>');">
    <div class="banner-infos">
      <div class="banner-text">
        <h1>Mama</h1>
        <h2>Des suggestions aux petits oignons pour tes repas</h2>
      </div>
      <div class="banner-button">
        <% messenger_url = "https://m.me/foodmama.fr"  %>
        <%= link_to "Essayer sur Messenger", messenger_url, target:"_blank", class:"fb-msg-btn" %>
      </div>
    </div>
  </div>
</div>

<div class="footer">
  <div class="footer-links">
    <a href="https://www.facebook.com/foodmama.fr/"><i class="fa fa-facebook"></i></a>
  </div>
  <div class="footer-copyright">
    <div class="navbar-wagon-right">

    <% if user_signed_in? %>
      <!-- Links when logged in && admin -->
      <% if current_user.admin? %>
        <%= link_to "Admin", rails_admin_path, class: "navbar-wagon-item navbar-wagon-link" %>
      <% end %>
      <%= link_to "Out", destroy_user_session_path,class: "navbar-wagon-item navbar-wagon-link", method: :delete%>
      </div>
    <% else %>
      <!-- Login link (when logged out) -->
      <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %>
    <% end %>
  </div>
  </div>
</div>
