<div class="banner-wrapper">
  <div class="banner" style="background-image:url('<%= image_path 'veggie.jpg' %>');">
    <div class="banner-infos">
      <div class="banner-text">
        <h1>Mama</h1>
        <h2>Mieux manger, tout simplement</h2>
      </div>
      <div class="banner-button">
        <% messenger_url = "https://m.me/foodmama.fr"  %>
        <%= link_to "Mama est sur Messenger", messenger_url, target:"_blank", class:"fb-msg-btn" %>
      </div>
    </div>
  </div>
</div>

<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fa fa-github"></i></a>
    <a href="#"><i class="fa fa-facebook"></i></a>
  </div>
  <div class="footer-copyright">
    <div class="navbar-wagon-right">

    <% if user_signed_in? %>

      <!-- Links when logged in && admin -->
      <% if current_user.admin? %>
        <%= link_to "Admin", rails_admin_path, class: "navbar-wagon-item navbar-wagon-link" %>
      <% end %>
      <%= link_to "Out", destroy_user_session_path,class: "navbar-wagon-item navbar-wagon-link", method: :delete%>
      </div>
    <% else %>
      <!-- Login link (when logged out) -->
      <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %>
    <% end %>
  </div>

  </div>
</div>




<!-- <div class="wrapper">
  <div class="banner" style="background-image:url('https://images.pexels.com/photos/8844/red-lunch-green-knolling.jpg?w=1260&h=750&auto=compress&cs=tinysrgb');">
  <div class="banner-content">
    <div class="text-container">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-xs-12">
            <h1>Mama</h1>
            <h2>Demande-moi ton futur repas</h2>
            <% messenger_url = "https://m.me/foodmama.fr"  %>
            <%= link_to "Essayer Mama sur Messenger", messenger_url, target:"_blank", class:"fb-msg-btn" %>
          </div>
          <div class="col-md-6 col-xs-12">
            <img class="mobiledemo" src="https://files.slack.com/files-tmb/T02NE0241-F6J9B7UD8-30a363f41b/mama_mockup_a8cd42e870e8_360.gif" alt="">
          </div>
            <a href="#" class="button--scroll animation"><svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="-275 398.7 44.2 44.2"><path fill="#fff" d="M-275 420.8c0-12.2 9.9-22.1 22.1-22.1s22.1 9.9 22.1 22.1c0 12.2-9.9 22.1-22.1 22.1s-22.1-9.9-22.1-22.1zm42.7 0c0-11.4-9.2-20.6-20.6-20.6-11.4 0-20.6 9.2-20.6 20.6 0 11.4 9.2 20.6 20.6 20.6 11.4 0 20.6-9.3 20.6-20.6zM-260.6 418c0-.2.1-.4.2-.5.3-.3.8-.3 1.1 0l6.8 6.8 6.8-6.8c.3-.3.8-.3 1.1 0 .3.3.3.8 0 1.1l-7.3 7.3c-.3.3-.8.3-1.1 0l-7.3-7.3c-.3-.2-.3-.4-.3-.6z"/></svg></a>
        </div>
        </div>
      </div>
    </div>
  </div> -->
<!--
<div class="banner-horizontal-arrow">
  <div class="banner-content">
    <div class="row">
      <div class="col-md-6 col-xs-12">
        <h1>Besoin d'une suggestion de repas ?</h1>
      </div>
      <div class="col-md-6 col-xs-12">
        <img class="imgstyle" src="https://files.slack.com/files-tmb/T02NE0241-F6HKGTM08-62275a832e/capture_d___e__cran_2017-08-04_a___16.41.03_480.png" alt="">
      </div>
    </div>
 </div>
</div>

<div class="overide-container">
  <div class="row"></div>
</div>

<div class="banner-horizontal-arrow">
  <div class="banner-content">
    <div class="row">
      <div class="col-md-6 col-xs-12"">
        <img class="imgstyle" src="https://files.slack.com/files-tmb/T02NE0241-F6HKGTM08-62275a832e/capture_d___e__cran_2017-08-04_a___16.41.03_480.png" alt="">
      </div>
      <div class="col-md-6 col-xs-12">
        <h1>Mama s'occupe de tout, de la suggestion jusqu'à la recette</h1>
      </div>
    </div>
 </div>
</div>



 -->


<!--
<div class="overide-container">
  <div class="row">
      <div class="blueban">
      </div>
  </div>
</div>
 -->
<!--
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="socialnetwork">
        <h2>Suis Mama</h2>
          <div class="size-fa">
          <a href="#"><i class="fa fa-github"></i></a>
          <a href="#"><i class="fa fa-instagram"></i></a>
          <a href="#"><i class="fa fa-facebook"></i></a>
      </div>
    </div>
  </div>
</div> -->

<!-- <footer>
  <div class="container footer">
    <ul>
      <li><a href="#">Mama</a></li>
      <li><a href="#">Contact</a></li>
      <li><a href="#">Mainpage</a></li>
    </ul>
    <p>&copy; 2017 FoodMama Corporation. All rights reserved.</p>
  </div>
</footer> -->
